#room-choose-div {
    padding: 4vh 3vh 3.5vh 3vh;
    border-radius: 0.2rem;
    border: 1px solid darkgrey;

    display: none;
}

#room-choose-form{
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#join-team-btn{
    margin-top: 2%;
}

#create-team-btn{
    padding: 1% 0;
    border-radius: 0.2rem;
    border: 1px solid #D4D4D4;
    margin-top: 3%;
}

.form-label {
    margin-bottom: 0.2rem;
}