#room-div{
    width: 100%;
    height: 100%;
    justify-content: center;
    display: none;
}

#online-users-list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.user-il {
    margin-left: 3%;
}

#vote-answers-div {
    margin-top: 1%;
    width: 50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.vote-option-button {
    width: 11%;
    aspect-ratio: 1;
    color: dimgray;
    font-weight: bold;
    text-align: center;
    cursor: pointer;

    font-size: 1.5em;
    padding: 0;
    margin-left: 1%;

    color: rgba(100, 100, 100, 0.7);
    background-color: rgba(255, 255, 255, 0.4);
    border: rgba(128, 128, 128, 0.4) solid 1px;
}

#vote-answers-div button:first-of-type {
    margin-left: 0;
}







